body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bolder;
    color: #0B3DDF;
    background-image: url("https://one0230942693.github.io/only_one/img/background.jpg");
    background-size: cover;
}
body a{
    text-decoration: none;
}
body i{
    cursor: pointer;
}
body h1{
    font-size: 50px;
    text-align: center;
    margin: 100px 0;
}
body img{
    cursor: pointer;
}
.header_bg{
    position: fixed;
    width: 100%;
    background-color: rgba(253, 250, 250, 0.8);
    padding: 10px;
    z-index: 100;
}
.header_all{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.header_bg div img{
    cursor: pointer;
}

.header_bg ul{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.header_bg ul a{
    color: #0B3DDF;
}
.header_bg ul li{
    margin: 0 30px;
    list-style: none;
    font-weight: bolder;
}
.header_bg i{
    font-size: 30px;
    margin: 0 15px;
}
.fa-bars{
    display: none;
}
.main_img img{
    width: 100%;
}
.main_about_box{
    margin: 10px auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}
.main_about img{
    margin: 10px 5px;
    max-width: 400px;
    border-radius: 25px;
}
.main_about_text{
    border-radius: 25px;
    max-width: 400px;
    width: 100%;
    height: 360px;
    margin: auto;
}
.main_about_text p{
    max-width: 300px;
    margin: 0 auto;
    padding: 50px 0;
    line-height: 2;
}
.main_know_btn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main_know_btn a{
    background-color: #0B3DDF;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 100px auto;
}
.main_new_img{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
}
.main_new_img div{
    margin: 0 auto;
    padding: 10px;
}
.main_new img{
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
}
.main_new p{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.main_drink_img{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.main_drink_img div{
    margin: 0 auto;
}
.main_drink img{
    border-radius: 30px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.main_drink_img p{
    font-size: 40px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.Franchise_application_bg{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 30px;
    position: relative;
}
.Franchise_application_bg img{
    max-width: 500px;
    width: 100%;
    max-height: 600px;
    border-radius: 30px;
}
.Franchise_application_bg p{
    padding: 50px;
    line-height: 3;
}
.Franchise_application_bg a{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: white;
    background-color: #0B3DDF;
    padding: 10px 20px;
    border-radius: 50px;
}
footer{
    margin-top: 300px;
    background-color: #0B3DDF;
    width: 100%;
    color: white;
    position: relative;
}
.footer_div_all{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    line-height: 3;
}
.footer_div_left img{
    margin: 50% auto;
    width: 200px;
}
.footer_div_right{
    padding: 50px 100px;
}
.footer_div_right small{
    line-height: 3;
}
.footer_div_a a{
    color: white;
    margin-right: 30px;
}



.footer_div_i i{
    font-size: 30px;
    margin-right: 40px;
    line-height: 3;
}

/* 滑動效果 */

.header_bg ul a:hover{
    text-decoration: underline;
}
.main_know_btn a:hover{
    background-color: red;
}

.Franchise_application_bg a:hover{
    background-color: red;
}

/* RWD */

@media screen and (max-width: 1200px) {
    body{
        font-size: 12px;
    }
    .header_bg img{
        max-width: 50px;
    }
    .header_bg ul{
        margin: 0;
        width: 100%;
        max-width: 60vw;
    }
    .header_bg li{
        display: none;
    }
    .header_bg i{
        font-size: 16px;
        margin: 0 2px;
    }
    .fa-bars{
        display: block;
    }
    .main_about_box{
        display: block;
    }
    .main_about img{
        max-width: 80vw;
        margin: 0 11vw;
    }
    .main_drink_img img{
        margin: 0 7px;
        max-width: 30vw;
    }
    .main_drink p{
        font-size: 20px;
    }
    .Franchise_application_bg{
        display: block;
    }
    .Franchise_application_bg img{
        border-radius: 0;
    }
    .footer_div_all{
        display: block;
    }
    .footer_div_all img{
        margin: 0 25vw;
    }
}

/* 此網頁僅供作品呈現,非商業用途 */
.no_talk{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 0;
}